pandas
numpy
google-generativeai
scikit-learn
fastapi['standard']
rapidfuzz
sentence_transformers
uvicorn[standard]
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl
spacy
